/* User modifications to custom jQuery theme */
h2, h3, #popup {text-align: center}
figure {
  max-width: 45%;
  float: right;
  margin: auto;
  }
figure img {
  width: 100%;
}
figcaption {
  text-align: center;
  font-size: 0.75em;
}
a.ui-btn-icon-right {float: right}
a.ui-btn-icon-left {float: left}
.ipsum {
  color: black;
  font-style: italic
}
@media only screen and (min-width: 60em){
  section.desk {
    max-width: 30em;
    float: left}
  section.desk:after, #popup.after {
    content: " ";
    display: block;
  }
  section~section.desk {
    float: right;
    max-height: 100%;
    max-width: 15em;
    }
}