/* User modifications to custom jQuery theme */
h2, h3 {text-align: center}
figure {
    width: 45%;
    margin: auto;
  }
figure img {
  width: 100%;
}
figcaption {
  text-align: center;
  font-size: 0.75em;
}
a.ui-btn-icon-right {float: right}
a.ui-btn-icon-left {float: left}
.ipsum {
  color: black;
  font-style: italic
}